<h1>Users</h1>

<table border="1">
    <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    <% users.forEach(user => { %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
                <a href="/admin/user/<%= user.id %>">View</a>
            </td>
        </tr>
    <% }) %>
</table>
<a href="/admin">Back</a>