<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>

<% if (typeof error !== 'undefined' && error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>

<form action="/auth/change-password" method="POST">
    <label>
        Current password
        <input type="password" name="oldPassword" required />
    </label>
    <br /><br />

    <label>
        New password
        <input type="password" name="newPassword" required />
    </label>
    <br /><br>

    <label>
        Confirm new password
        <input type="password" name="newPasswordConfirm" required />
    </label>
    <br /><br>

    <button type="submit">Change password</button>
</form>

<p><a href="/auth/logout">Logout</a></p>
</body>
</html>
