<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/TGS-logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greška</title>
    <link rel="stylesheet" href="/stylesheets/user/userBody.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
<div id="bg-fixed"></div>

<div class="error-container">
    <div class="error-card">
        <h2 class="error-message"><%= message %></h2>
        <p class="error-description">Došlo je do neočekivane greške. Molimo pokušajte ponovo kasnije ili se vratite na početnu stranicu.</p>
        <% if (currentUser && currentUser.role) { %>
            <% if (currentUser.role === 'admin') { %>
                <a href="/admin" class="btn-home">Vrati se na početnu</a>
            <% } else if (currentUser.role === 'ucenik' || currentUser.role === 'profesor' ) { %>
                <a href="/user" class="btn-home">Vrati se na početnu</a>
            <% } else if (currentUser.role === 'kantina') { %>
                <a href="/canteen" class="btn-home">Vrati se na početnu</a>
            <% } else { %>
                <a href="/auth/logout" class="btn-home">Vrati se na login</a>
            <% } %>
        <% } else { %>
            <a href="/auth/logout" class="btn-home">Vrati se na login</a>
        <% } %>
    </div>
</div>

</body>
</html>
