<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/TGS-logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korisni훾ki panel</title>
    <link rel="stylesheet" href="/stylesheets/shared/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/shared/loadingSpinner.css">
    <link rel="stylesheet" href="/stylesheets/shared/topBar.css">
    <link rel="stylesheet" href="/stylesheets/shared/body.css">
</head>
<body>
<div class="loading-overlay" id="loading-overlay">
    <div class="spinner"></div>
</div>
<div id="bg-fixed"></div>

<div class="top-bar">
    <div class="admin-info">
        <div class="admin-avatar"><%= user.username.charAt(0).toUpperCase() %></div>
        <span class="admin-name"><%= user.username %></span>
    </div>
    <a href="/auth/logout" class="logout-btn">Odjavi se</a>
</div>

<div class="dashboard-container">
    <div class="cards-wrapper">
        <a href="/user/menu" class="dashboard-card">
            <div class="card-icon">
                <img src="/images/menu.png" alt="Menu">
            </div>
            <div class="card-title">Meni</div>
            <div class="card-description">Pogledaj dostupnu ponudu</div>
        </a>
        <a href="/user/orders" class="dashboard-card <%= hasNotification ? 'has-notification' : '' %>">
            <div class="card-icon">
                <img src="/images/cart.png" alt="My Orders">

                <% if (hasNotification) { %>
                    <span class="notification-dot"></span>
                <% } %>
            </div>
            <div class="card-title">Moje narud탑be</div>
            <div class="card-description">Prika탑i historiju narud탑bi</div>
        </a>
    </div>
</div>
</body>
<script>
    const es = new EventSource("/sse");

    es.addEventListener("orders_changed", () => {
        window.location.reload();
    });

    window.addEventListener('load', function() {
        document.getElementById('loading-overlay').classList.add('hidden');
    });
</script>
</html>
